.home-btn {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 25px;
    left: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    color: white;
    transition: all .2s ease;

    &:hover {
        background-color: purple;
    }
}

.github-btn {
    left: 93%;

    
    a > img {
        width: 100%;
    }
}

.search-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;


    .search-results-container {
        // background-color: red;
        width: calc(50% + 275px);
        height: 100%;
    }

    .z-index {
        z-index: 1;
    }

    .filtered-results {
        position: absolute;
        top: 120px;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 0px;

        .player-overview {
            // background-color: rgb(208, 183, 208);
            background: transparent;
            border-bottom: 1px solid white;
            color: rgb(227, 180, 227);
            width: 95vw;

            &:hover {
                #player-name {
                    text-decoration: underline;
                }
            }

            #nation-and-position {
                color: rgb(163, 163, 163);
            }
        }

        .player-content {
            width: 95vw;

            .players-grid, .players-grid {
                color: white;
            }
        }

    }
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 480px;
    height: 50px;
    opacity: 1;
    transition: all .3s ease;


    & > * { // Selecting all elements that are within this current selector (.search-form)
        box-sizing: border-box;
        border: none;
        height: 100%;
        background: field;
        font-size: 16px;
        opacity: 1;
        transition: all .2s ease;
    }

    & > *:focus {
        outline: none;
        opacity: 0.8;
    }
    .search-input {
        width: 50%;
        height: 100%;
        border-radius: 30px 0 0 30px;
        font-size: 16px;
        text-indent: 12px;
    
    
        &:focus {
            outline: none;
            opacity: .8;
        }
    }


    .search-img {
        background-image: url("../../assets/search-icon.svg");
        background-position: 50% 40%;
        width: 55px;
        cursor: pointer;
        border-radius: 0 30px 30px 0;
    }
    
    select[name="filter-search"] {
        width: 120px;
    }
    
    .min-max-input {
        width: 50px;
        text-align: center;
        
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            display: none;
        }
    }
}

.player-name {
    flex-grow: 1;
    text-align: center;
}

.results-border {
    border-radius: 30px 0 0 0 !important;
}

.results-border-2 {
    border-radius: 0 30px 0 0 !important;
}

.hidden {
    display: none;
}


