.nation-box {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	width: 300px;
	height: 300px;
	margin: 0;
	padding: 0;
	/* background-image: 'https://m.media-amazon.com/images/I/41Z2Sdr+uLL._AC_SX466_.jpg'; */
	border-radius: 16px;
	position: relative;
}

.nation-box p {
	z-index: 300;
	margin: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background-color: grey;
	color: white;
	opacity: 0.7;
	border-radius: 0 0 16px 16px;
}

.nation-box img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	padding: 0;
	border-radius: 16px;
}