@import '../../styles/variables.scss';

.result-entry-container {
		@include flex-container(row, flex-start, center);
		column-gap: 10px;
		cursor: pointer;
		padding-inline: 10px;
		background: rgba(255, 255, 255, 1);
		transition: all .2s ease;

		&:hover {
			background:rgba(255, 255, 255, 0.7);
		}

		&:last-child {
			border-radius: 0 0 30px 30px;
		}
}
