.banner-box {
    /* background-color: rgb(86, 6, 28); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #a23982;
    color: white;
    height: 30vh;
}

.qatar {
    font-style: italic;
    line-height: 0px;
    font-size: large;
    margin-top: 0px;
    text-align: center;
}

.fifa {
    /* margin-bottom: 0; */
    text-align: center ;
    line-height: 0px;
}